@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// Brand colors
$dark-blue: #0D253F;
$light-blue: #01B4E4;
$light-green: #90CEA1;

// Bulma's global variables
$family-sans-serif: 'Poppins', sans-serif;
$primary: $dark-blue;
$success: $light-green;
$link: $light-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$card-content-padding: 1rem;

// Import all Bulma
//
@import "../../node_modules/bulma/bulma.sass";
//
// Or you can import only what you need from Bulma
//
// @import "../../node_modules/bulma/sass/utilities/_all.sass";
// @import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
// @import "../../node_modules/bulma/sass/elements/container.sass";
// @import "../../node_modules/bulma/sass/elements/title.sass";
// @import "../../node_modules/bulma/sass/form/_all.sass";
// @import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/layout/hero.sass";
// @import "../../node_modules/bulma/sass/layout/section.sass";

// MovieCard Component
.card {
    max-width: 200px;
    max-height: 300px;
    overflow: hidden;
    transition: transform 500ms ease;
    .custom-card-content {
        width: 100%;
        height: 100%;
        padding: 1rem;
        opacity: 0;
        color: #FFFFFF;
        background: rgb(0,0,0);
        background: -moz-linear-gradient(
            hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.7) 20%,
            hsl(0 0% 0% / 1)
        );
        background: -webkit-linear-gradient(
            hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.7) 20%,
            hsl(0 0% 0% / 1)
        );
        background: linear-gradient(
            hsl(0 0% 0% / 0),
            hsl(20 0% 0% / 0.7) 20%,
            hsl(0 0% 0% / 1)
        );
        
        .title {
            color: #FFFFFF;
        }
    }
    &:hover {
        transform: scale(1.02);
    }
    &:hover .custom-card-content{
        transform: translateY(-100%);
        transition: 500ms transform ease;
        opacity: 1;
        transition: opacity 500ms linear;
    }
}